body {
    margin: 0;
    padding: 16px;
    font-family: "Lato";
    a {
        text-decoration: none;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
        }
    }    
    .wrapper {
        max-width: 90%;
        margin: auto;
        .list_headings {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding-bottom: 16px;
        }
        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            color: white;
            background-color: black;
            padding: 16px;
            margin-bottom: 16px;
            .arrow {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}