@font-face {
  font-family: "Lato_bold";
  src: local(Lato), 
  url(/fonts/Lato-Bold.woff2) format("woff2"), 
  url(/fonts/Lato-Bold.woff) format("woff"), 
}
@font-face {
  font-family: "Lato";
  src: local(Lato), 
  url(/fonts/Lato-Regular.woff2) format("woff2"), 
  url(/fonts/Lato-Regular.woff) format("woff"), 
}


body {
    margin: 0;
    padding: 8px;
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    a {
        text-decoration: none;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
        }
    }
    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
    }
    .wrapper {
        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: white;
            background-color: black;
            padding: 30px 30px;
            margin-bottom: 16px;
            font-size: 20px;
            border-radius: 10px;
            .song_like, .song_dislike {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }
        .style {
            h2 {
                font-size: 40px;
                line-height: 35px;
                color: #000000;
                padding-bottom: 20px;
                img {
                    width: 40px;
                }
            }
            .styles {
                padding: 20px;
                background: #272343;
                border-radius: 5px;
                color: #FFFFFE;
                margin-bottom: 16px;
                max-width: 50%;
                margin-right: auto;
                h3 {
                    font-size: 30px;
                    line-height: 44px;
                    margin-bottom: 4px;
                }
                p {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
        .cart_container {
            padding: 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            background: #272343;
            border-radius: 5px;
            color: white;
            img {
                width: 35px;
            }
            div {
                h4 {
                    font-size: 25px;
                    line-height: 25px;
                }
                p {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
            .price {
                font-size: 25px;
                line-height: 25px;
                color: #FFD803;
            }
        }
        .lyrics_container {
            button {
                border: none;
                outline: none;
                cursor: pointer;
                padding: 10px 16px;
                background-color: white;
                color: blue;
                box-shadow: 1px 1px 10px blue;
                border-radius: 6px;
                font-size: 20px;
            }
            .lyrics_subcontainer {

                h2 {
                    font-size: 30px;
                    color: #000000;
                    padding-bottom: 20px;
                }
                .lyrics {
                    color: #FFFFFE;
                    font-size: 18px;
                    line-height: 22px;
                    background: #272343;
                    border-radius: 5px;
                    padding: 16px;
                    h3 {
                        font-size: 36px;
                        line-height: 44px;
                        padding-bottom: 16px;
                    }
                }
                padding-bottom: 20px;
            }
        }
    }
}

@media(min-width: 720px) {
    body {
        .wrapper {
            max-width: 60%;
            margin: auto;
            padding: 10px;
        }
    }
}